// 1. Import the initial variables
@import "../../node_modules/bulma/sass/utilities/initial-variables";
@import "../../node_modules/bulma/sass/utilities/functions";

// $box-background-color: #00ffff;
$box-background-color: #aeb6bf;
$modal-card-head-background-color: #dee2e6;
$modal-card-body-background-color: #f1f3f5;

$modal-content-width: 1024px !default;

$DarkSlateBlue : #483D8B;
$medium: #ff9333;

.button.is-DarkSlateBlue {
    background-color: $DarkSlateBlue ;
    color: #fff;
    border-color: #00000000;
}

.button.is-medium {
    background-color: $medium ;
    color: #fff;
    border-color: #00000000;
}

.a_main_box {
    width: 75%;
    // margin-top: 3em;
}

.a_title {
    width: 75%;
}

.a_input_title {
    line-height: 2rem;
    font-size: 2rem;
}

.a_w100 {
    width: 100%;
    max-width: 100%;
}

.a_grid {
    display:grid;
}
.a_display_linebreak {
    white-space: pre-wrap !important;
}

.a_overflow_wrap {
    overflow-wrap: anywhere;
}

.a_TodoItem:hover {
    background-color: $grey-lighter;
}

.a_align_middle {
    vertical-align: bottom;
}

.a_item_title {
    text-overflow: ellipsis;
    overflow: hidden;
}

.a_dropZone {
    padding-top: 0.45rem; // override columns value
    width: -moz-available;
    width: -webkit-fill-available;
    width: fill-available;
}

.a_top_dropZone {
    padding-top: 1em;
    padding-bottom: 1em;
}

.a_expanded_dropZone {
    background: rgb(150, 146, 250);
    margin: 1em;
    min-height: 3em;
}

.a_state_option {
    height: 3rem;
    width: 12rem;
}

datalist {
    display: inline-flex;
    flex-direction: column;
    justify-content: space-between;
    writing-mode: vertical-lr;
    width: 12rem;

}


// 5. Add new color variables to the color map.
@import "../../node_modules/bulma/sass/utilities/derived-variables";
@import "../../node_modules/bulma/bulma";